<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>p10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,282}</string>
                <key>spriteSourceSize</key>
                <string>{214,282}</string>
                <key>textureRect</key>
                <string>{{1498,0},{214,282}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,282}</string>
                <key>spriteSourceSize</key>
                <string>{214,282}</string>
                <key>textureRect</key>
                <string>{{1712,0},{214,282}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,282}</string>
                <key>spriteSourceSize</key>
                <string>{214,282}</string>
                <key>textureRect</key>
                <string>{{0,282},{214,282}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,282}</string>
                <key>spriteSourceSize</key>
                <string>{214,282}</string>
                <key>textureRect</key>
                <string>{{214,282},{214,282}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,282}</string>
                <key>spriteSourceSize</key>
                <string>{214,282}</string>
                <key>textureRect</key>
                <string>{{428,282},{214,282}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,282}</string>
                <key>spriteSourceSize</key>
                <string>{214,282}</string>
                <key>textureRect</key>
                <string>{{642,282},{214,282}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,282}</string>
                <key>spriteSourceSize</key>
                <string>{214,282}</string>
                <key>textureRect</key>
                <string>{{856,282},{214,282}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,282}</string>
                <key>spriteSourceSize</key>
                <string>{214,282}</string>
                <key>textureRect</key>
                <string>{{1070,282},{214,282}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,282}</string>
                <key>spriteSourceSize</key>
                <string>{214,282}</string>
                <key>textureRect</key>
                <string>{{1284,282},{214,282}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,282}</string>
                <key>spriteSourceSize</key>
                <string>{214,282}</string>
                <key>textureRect</key>
                <string>{{1498,282},{214,282}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,282}</string>
                <key>spriteSourceSize</key>
                <string>{214,282}</string>
                <key>textureRect</key>
                <string>{{1712,282},{214,282}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,282}</string>
                <key>spriteSourceSize</key>
                <string>{214,282}</string>
                <key>textureRect</key>
                <string>{{0,564},{214,282}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,282}</string>
                <key>spriteSourceSize</key>
                <string>{214,282}</string>
                <key>textureRect</key>
                <string>{{214,564},{214,282}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,282}</string>
                <key>spriteSourceSize</key>
                <string>{214,282}</string>
                <key>textureRect</key>
                <string>{{428,564},{214,282}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,282}</string>
                <key>spriteSourceSize</key>
                <string>{214,282}</string>
                <key>textureRect</key>
                <string>{{642,564},{214,282}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,282}</string>
                <key>spriteSourceSize</key>
                <string>{214,282}</string>
                <key>textureRect</key>
                <string>{{0,0},{214,282}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,282}</string>
                <key>spriteSourceSize</key>
                <string>{214,282}</string>
                <key>textureRect</key>
                <string>{{856,564},{214,282}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,282}</string>
                <key>spriteSourceSize</key>
                <string>{214,282}</string>
                <key>textureRect</key>
                <string>{{1070,564},{214,282}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,282}</string>
                <key>spriteSourceSize</key>
                <string>{214,282}</string>
                <key>textureRect</key>
                <string>{{1284,564},{214,282}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,282}</string>
                <key>spriteSourceSize</key>
                <string>{214,282}</string>
                <key>textureRect</key>
                <string>{{1498,564},{214,282}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,282}</string>
                <key>spriteSourceSize</key>
                <string>{214,282}</string>
                <key>textureRect</key>
                <string>{{1712,564},{214,282}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,282}</string>
                <key>spriteSourceSize</key>
                <string>{214,282}</string>
                <key>textureRect</key>
                <string>{{0,846},{214,282}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,282}</string>
                <key>spriteSourceSize</key>
                <string>{214,282}</string>
                <key>textureRect</key>
                <string>{{214,0},{214,282}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p43.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,282}</string>
                <key>spriteSourceSize</key>
                <string>{214,282}</string>
                <key>textureRect</key>
                <string>{{214,846},{214,282}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,282}</string>
                <key>spriteSourceSize</key>
                <string>{214,282}</string>
                <key>textureRect</key>
                <string>{{428,846},{214,282}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p45.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,282}</string>
                <key>spriteSourceSize</key>
                <string>{214,282}</string>
                <key>textureRect</key>
                <string>{{642,846},{214,282}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p46.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,282}</string>
                <key>spriteSourceSize</key>
                <string>{214,282}</string>
                <key>textureRect</key>
                <string>{{856,846},{214,282}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p47.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,282}</string>
                <key>spriteSourceSize</key>
                <string>{214,282}</string>
                <key>textureRect</key>
                <string>{{1070,846},{214,282}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p48.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,282}</string>
                <key>spriteSourceSize</key>
                <string>{214,282}</string>
                <key>textureRect</key>
                <string>{{1284,846},{214,282}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p49.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,282}</string>
                <key>spriteSourceSize</key>
                <string>{214,282}</string>
                <key>textureRect</key>
                <string>{{1498,846},{214,282}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,282}</string>
                <key>spriteSourceSize</key>
                <string>{214,282}</string>
                <key>textureRect</key>
                <string>{{428,0},{214,282}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,282}</string>
                <key>spriteSourceSize</key>
                <string>{214,282}</string>
                <key>textureRect</key>
                <string>{{1712,846},{214,282}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p51.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,282}</string>
                <key>spriteSourceSize</key>
                <string>{214,282}</string>
                <key>textureRect</key>
                <string>{{0,1128},{214,282}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p52.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,282}</string>
                <key>spriteSourceSize</key>
                <string>{214,282}</string>
                <key>textureRect</key>
                <string>{{214,1128},{214,282}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p53.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,282}</string>
                <key>spriteSourceSize</key>
                <string>{214,282}</string>
                <key>textureRect</key>
                <string>{{428,1128},{214,282}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p54.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,282}</string>
                <key>spriteSourceSize</key>
                <string>{214,282}</string>
                <key>textureRect</key>
                <string>{{642,1128},{214,282}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p55.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,282}</string>
                <key>spriteSourceSize</key>
                <string>{214,282}</string>
                <key>textureRect</key>
                <string>{{856,1128},{214,282}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,282}</string>
                <key>spriteSourceSize</key>
                <string>{214,282}</string>
                <key>textureRect</key>
                <string>{{642,0},{214,282}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p63.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,282}</string>
                <key>spriteSourceSize</key>
                <string>{214,282}</string>
                <key>textureRect</key>
                <string>{{1070,1128},{214,282}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p64.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,282}</string>
                <key>spriteSourceSize</key>
                <string>{214,282}</string>
                <key>textureRect</key>
                <string>{{1284,1128},{214,282}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p65.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,282}</string>
                <key>spriteSourceSize</key>
                <string>{214,282}</string>
                <key>textureRect</key>
                <string>{{1498,1128},{214,282}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p66.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,282}</string>
                <key>spriteSourceSize</key>
                <string>{214,282}</string>
                <key>textureRect</key>
                <string>{{1712,1128},{214,282}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p67.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,282}</string>
                <key>spriteSourceSize</key>
                <string>{214,282}</string>
                <key>textureRect</key>
                <string>{{0,1410},{214,282}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p68.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,282}</string>
                <key>spriteSourceSize</key>
                <string>{214,282}</string>
                <key>textureRect</key>
                <string>{{214,1410},{214,282}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p69.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,282}</string>
                <key>spriteSourceSize</key>
                <string>{214,282}</string>
                <key>textureRect</key>
                <string>{{428,1410},{214,282}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,282}</string>
                <key>spriteSourceSize</key>
                <string>{214,282}</string>
                <key>textureRect</key>
                <string>{{856,0},{214,282}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p70.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,282}</string>
                <key>spriteSourceSize</key>
                <string>{214,282}</string>
                <key>textureRect</key>
                <string>{{642,1410},{214,282}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p71.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,282}</string>
                <key>spriteSourceSize</key>
                <string>{214,282}</string>
                <key>textureRect</key>
                <string>{{856,1410},{214,282}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p72.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,282}</string>
                <key>spriteSourceSize</key>
                <string>{214,282}</string>
                <key>textureRect</key>
                <string>{{1070,1410},{214,282}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p73.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,282}</string>
                <key>spriteSourceSize</key>
                <string>{214,282}</string>
                <key>textureRect</key>
                <string>{{1284,1410},{214,282}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p74.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,282}</string>
                <key>spriteSourceSize</key>
                <string>{214,282}</string>
                <key>textureRect</key>
                <string>{{1498,1410},{214,282}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p75.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,282}</string>
                <key>spriteSourceSize</key>
                <string>{214,282}</string>
                <key>textureRect</key>
                <string>{{1712,1410},{214,282}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,282}</string>
                <key>spriteSourceSize</key>
                <string>{214,282}</string>
                <key>textureRect</key>
                <string>{{1070,0},{214,282}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,282}</string>
                <key>spriteSourceSize</key>
                <string>{214,282}</string>
                <key>textureRect</key>
                <string>{{1284,0},{214,282}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>poker.png</string>
            <key>size</key>
            <string>{1926,1692}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:832b4559cfbfa835db9f5c42b0ad68a9:4c56eb8221edf4a638244c97f76795eb:7091b912c8b6d40e279854fb79f668a3$</string>
            <key>textureFileName</key>
            <string>poker.png</string>
        </dict>
    </dict>
</plist>
